<!DOCTYPE html> 
<html {{if .Site.LanguageCode}}lang="{{.Site.LanguageCode}}"{{end}}>
{{- partial "head.html" . -}}

<body>
  <div id="main">
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "footer.html" . -}}
  {{- partial "backtotop.html" . -}}
  {{- partial "hulgajs.html" . -}}
  {{- block "script" . }}{{- end }}
  <script src="./oneko.js"></script>
  <!-- 100% privacy-first analytics -->
  <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  <!-- ko-fi -->
  <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
  <script>
    kofiWidgetOverlay.draw('miochat', {
      'type': 'floating-chat',
      'floating-chat.donateButton.text': 'Support me',
      'floating-chat.donateButton.background-color': '#d9534f',
      'floating-chat.donateButton.text-color': '#fff',
      'floating-chat.label': 'Support this site'
    });
  </script>
</body>

</html>
