{{- $ctx := . -}}
<section class="section post-box-section">
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="columns">
          <div class="column is-8">
            <div class="post-lists">
              {{ $paginator := .Paginate (where (where .Site.Pages "Type" "post") "Kind" "page") }}
              {{ range $paginator.Pages }}
              <div class="box post-box">
                <div class="post-header mb-4">
                  <a href="{{ .RelPermalink }}" class="title is-4 has-text-primary" title="Read {{ .Title }}">
                    {{ .Title }}
                  </a>
                  <div class="post-meta mt-2">
                    <time class="has-text-grey-light">{{ .Date.Format "2006/01/02" }}</time>
                    {{ with (.GetTerms "categories") }}
                    <span class="has-text-grey-light">・</span>
                    <a href="{{ (index . 0).RelPermalink }}" class="has-text-grey">{{ (index . 0).LinkTitle }}</a>
                    {{ end }}
                    {{ with (.GetTerms "tags") }}
                    <span class="post-tags d-inline">
                      {{- range . }}
                      <span class="tag is-light is-small ml-2">
                        <a href="{{ .RelPermalink }}" class="has-text-grey-dark">#{{ .LinkTitle }}</a>
                      </span>
                      {{- end }}
                    </span>
                    {{ end }}
                  </div>
                </div>
                
                {{ if .Description }}
                <div class="post-description mb-3">
                  <p class="has-text-grey is-size-6 has-text-weight-medium">
                    {{ .Description }}
                  </p>
                </div>
                {{ end }}
                
                <div class="post-content">
                  <p class="has-text-grey-dark">
                    {{ .Summary }}
                  </p>
                </div>
              </div>
              {{ end }}
            </div>
            <div class="pt-5">
              {{ partial "paginator.html" . }}
            </div>
          </div>
          <div class="column is-4 is-hidden-mobile">
            {{ if .Site.Taxonomies.categories }}
            <div class="card">
              <header class="card-header is-primary">
                <p class="card-header-title">
                  {{ i18n "categories" }}
                </p>
              </header>
              <div class="card-content">
                <div class="content">
                  {{ range .Site.Taxonomies.categories.ByCount }}
                  <div class="container mb-2">
                    <a href="{{ .Page.RelPermalink }}" title="View all posts in {{ .Page.Title }}">{{ .Page.Title }}</a>
                    <span class="tag is-pulled-right">
                      {{ .Count }}
                    </span>
                  </div>
                  {{ end }}
                </div>
              </div>
            </div>
            <br>
            {{ end }}

            {{ if .Site.Taxonomies.tags }}
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  {{ i18n "tags" }}
                </p>
              </header>
              <div class="card-content">
                <div class="field is-grouped is-grouped-multiline">
                  {{ range .Site.Taxonomies.tags.ByCount }}
                  <div class="control">
                    <div class="tags has-addons">
                      <a class="tag" href="{{ .Page.RelPermalink }}" title="View all posts tagged {{ .Page.Title }}">{{ .Page.Title }}</a>
                      <span class="tag counter-tag">
                        {{ .Count }}
                      </span>
                    </div>
                  </div>
                  {{ end }}
                </div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
