<section class="hero is-primary shadow-hero {{ if .Site.Params.heroBold }} is-bold {{ end }}">
  <div class="hero-head">
    {{ partial "nav.html" . }}
  </div>
  <div class="hero-body">
    <header class="container" {{ if not .Site.Params.noPagefind -}}data-pagefind-body{{- end -}}>
      <div class="has-text-centered">
        <h1 class="title is-2 post-title">
          {{ .Title }}
        </h1>
        {{ if and .Description (ne .Layout "archives") }}
        <p class="subtitle is-5 mt-2 post-description">
          {{ .Description }}
        </p>
        {{ end }}
        {{ if ne .Layout "archives" }}
        <div class="post-meta mt-4">
          <time>{{ .Date.Format "2006/01/02" }}</time>
          {{ with (.GetTerms "categories") }}
          <span>・</span>
          <a href="{{ (index . 0).RelPermalink }}" class="has-text-white">{{ (index . 0).LinkTitle }}</a>
          {{ end }}
          {{ with (.GetTerms "tags") }}
          <span class="tags is-inline-flex ml-2">
            {{- range . }}
            <span class="tag is-light is-small">
              <a href="{{ .RelPermalink }}" class="has-text-grey-dark">#{{ .LinkTitle }}</a>
            </span>
            {{- end }}
          </span>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </header>
  </div>
</section>
