{{ define "main" }}
<section class="hero is-primary shadow-hero search-header {{ if .Site.Params.heroBold }} is-bold {{ end }}">
  <div class="hero-head">
    {{ partial "nav.html" . }}
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        {{ .Title }}
      </h1>
      <h2 class="subtitle">
        {{ .Description }}
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div id="search"></div>
        <script src="/pagefind/pagefind-ui.js" type="text/javascript"></script>
        <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
        <script>
          window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ 
              element: "#search",
              showImages: false,
              showSubResults: true,
              resetStyles: false,
              bundlePath: "/pagefind/"
            });
          });
        </script>
      </div>
    </div>
  </div>
</section>
{{ end }}
