{{ define "main" }}
{{ partial "post-header.html" . }}
<style>
  :root {
    --pagefind-ui-primary: var(--bulma-primary);
    --pagefind-ui-text: var(--bulma-text);
    --pagefind-ui-background: var(--bulma-background);
    --pagefind-ui-border: var(--bulma-border);
    --pagefind-ui-border-radius: var(--bulma-radius);
  }
</style>

<section class="section">
  <div class="container content">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div id="search"></div>
        <script src="/pagefind/pagefind-ui.js" type="text/javascript"></script>
        <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
        <script>
          window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ 
              element: "#search",
              showImages: false,
              showSubResults: true,
              resetStyles: false,
              bundlePath: "/pagefind/"
            });
          });
        </script>
      </div>
    </div>
  </div>
</section>
{{ end }}
